{:paths ["src"]

 :deps {io.github.chucklehead-dev/jolt-aspect-packs
        {:git/url "https://github.com/chucklehead-dev/jolt-aspect-packs.git"
         :git/sha "3e9d78bb9c31e34d82d28ab4238aea665514366e"}
        io.github.casselc/otel
        {:git/url "https://github.com/casselc/otel.git"
         :git/sha "a9badb98a86d4e0aa207aa0609da03dc8e4c087f"}}

 :aliases {:test {:extra-paths ["test"]
                  :main-opts ["-m" "otel.instrumentation.core-async-flow-test-runner"]}}

 :tasks {test "jolt -M:test"}}
